\.DS_Store
Thumbs.db

*.iml

\.idea/
*.class
out/

.gradle
/build/
/node_modules/
!gradle/wrapper/gradle-wrapper.jar
**/coverage/**
**/jacoco/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
target
/axonserver-eventstore
/axonserver-controldb
